* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 100px;
  height: 50px;
  background-color: #1e1e1ffc;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  display: flex;
  position: fixed;
}
.header__logo-home {
  text-decoration: none;
}
.header-name {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: -3px 3px 3px #000000;
}

.header__container-link {
  display: none;
}
@media (min-width: 500px) {
  .header__container-link {
    display: flex;
    align-items: center;
  }
}

.header__links {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-right: 29px;
  color: white;
  padding: 6px;
  font-weight: 400;
}
.header__container-link a:hover {
  background-color: teal;
  border-radius: 5px;
  transition: all 550ms ease;
}
#navMenu > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: rgb(251, 251, 251);
}
#navMenu > span:not(:last-child) {
  margin-bottom: 7px;
  filter: drop-shadow(2px 0px 1px #000);
}

#navMenu,
#navMenu > span {
  width: 28px;
  transition: all 0.4s ease-in-out;
  filter: drop-shadow(1px 1px 3px #000);
}

#navMenu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}
#navMenu.active > span:nth-child(2) {
  width: 0;
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}
#navMenu.active > span:nth-child(1) {
  transform: translateY(9px);
}
#navMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

@media (min-width: 500px) {
  #navMenu {
    display: none;
  }
}
.button-open-img {
  height: 35px;
  width: 30px;
}

/* //  HEADER VENTANA HAMBURGUESA */
#header__ventana-burger {
  position: fixed;
  text-align: center;
  top: 52px;
  right: -100%;
  width: 100%;

  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #8af1ff;
  transition: 0.5s;
  border-radius: 22px;
  box-shadow: 1px 3px 3px 3px black;
}
#header__ventana-burger.active {
  right: 0;
  transition-delay: 0.1s;
}
@media (min-width: 500px) {
  .header__ventana-burger {
  }
}

.header__ventana-burger-content {
  width: 100%;
  height: 548px;
  background-color: #417670;
  flex-direction: column;
  align-items: center;
  padding: 5px 21px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 8px;
  justify-content: center;
  border-radius: 9px;
}
@media (min-width: 500px) {
  .header__ventana-burger-content {
    display: none;
  }
}
.ventana__close {
  width: 50px;
  height: 50px;
  background-color: transparent;
  align-self: flex-end;
  border: none;
}

.img-close {
  height: 31px;
  width: 30px;
  color: black;
}
.header__ventana-links {
  display: flex;
  flex-direction: column;
  padding: 70px;
}
.header__ventana-links a:hover {
  background-color: rgb(2, 173, 173);
  border-radius: 7px;
  transition: all 500ms ease;
}

.link {
  color: #000;
  border-radius: 10px;
  margin-bottom: 56px;
  padding: 7px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 5px 6px 10px #312e2e78;
  width: 180px;
  background-color: cadetblue;
}

/* ////// LINKS DESKTOP  */
